# Flutter
/build/
/.dart_tool/
/.packages
/.flutter-plugins
/.flutter-plugins-dependencies

# Android
/android/app/src/main/res/mipmap-*/ic_launcher.png
/local.properties

# iOS
/ios/Runner/Assets.xcassets/
/ios/Flutter/.last_build_id

# macOS
/macos/Runner/Assets.xcassets/

# Web
/web/favicon.png
/web/icons/

# نظام
.DS_Store
Thumbs.db
